#footer button{
    font-size: x-large;
    bottom:10px ;
    right:100px ;
    margin-top: 10px;
    position:fixed ;
    border:none ;
    background-color:rgb(6, 110, 126) ;
    border-radius:15px ;
    padding:10px 15px 10px 15px ;
    color:white ;
    opacity: 0.7;
}
#footer button:hover{
    cursor:pointer ;
    background-color:rgba(9, 97, 110) ;
}
