@import url(https://fonts.googleapis.com/css?family=Lily+Script+One);

body {
	margin:0;
	font-family:arial,tahoma,sans-serif;
	font-size:12px;
	font-weight:normal;
	direction:ltr;
  background:white;
}

form {
	margin:10px auto 0 auto;
	padding:30px;
	width:80%;
	height:auto;
	overflow:hidden;
	background:white;
	border-radius:10px;
}

form label {
	font-size:16px;
	color:rgb(88, 83, 83);
	cursor:pointer;
}

form label,
form input {
	float:left;
	clear:both;
}

form input {
	margin:10px 0;
	padding:10px 10px;
	width:100%;
	outline:none;
	border:1px solid #bbb;
	border-radius:20px;
	display:inline-block;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
    -webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
}

form input[type=text]:focus,
form input[type="password"]:focus {
	border-color:rgba(6, 121, 175, 0.849) ;
    font-size: large;
}

input[type=submit] {
	padding:15px 50px;
	width:auto;
	background:#1abc9c;
	border:none;
	color:white;
	cursor:pointer;
    font-size: large;
	display:inline-block;
	float:right;
	clear:right;
	-webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
}

input[type=submit]:hover{
	opacity:0.8;
    background:rgba(6, 121, 175, 0.849);	
}

input[type="submit"]:active {
	opacity:0.4;
	

}

.forgot,
.register {
	margin:10px;
	float:left;
	clear:left;
	display:inline-block;
	color:cornflowerblue;
	text-decoration:none;
}

.forgot:hover,
.register:hover {
	color:darkgray;
}

#logo {
	margin:0 auto;
	width:700px;
	font-family:'Lily Script One', cursive;
	font-size:4vw;
	font-weight:bold;
	text-align:center;
	color:lightgray;
	-webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
}

#logo:hover {
	color:rgba(6, 121, 175, 0.849) ;
}

#del{
    font-size: large;
    background-color: rgb(218, 210, 210);
	margin-bottom: 70px;
}
#del:hover{
    color: white;
    font-weight: 700;
    background-color: rgb(88, 9, 9);
    cursor: pointer;
}

#Profile{
    position:fixed;
    top:110px ;
    right:7vw ;
	width:400px ;
	z-index: 100;

}
#create-profile{
	position:absolute ;
	top:300px ;
	left:25vw;
}














@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(240,240,240);
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 15px 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 250px;
    padding-bottom: 15px;
    background-color: white;
}

.card img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: linear-gradient(60deg, #2AAA8A, #4169E1);
    padding: 5px;
    margin-top: -45px;
}

.card h2{
    margin: 10px 0;
	color:grey ;
}

.cont{
    width: 90%;
    height: 0;
    overflow: hidden;
    text-align: center;
    transition: all 0.6s ease;
	font-size:large ;
	margin-top:10px;
	line-height: 1.5em;
}

.card .cont .link i{
    font-size: 25px;
    color: rgb(82, 82, 82);
    transition: all 0.2s ease;
}

.card .cont .link i:hover{
    color: black;
    cursor: pointer;
}

.card:hover > .cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 150px;
}

.card:hover > .link{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

@media all and (max-width:700px){
	#Profile{
		position: fixed ;
		top:100px ;
		right:8vw ;
		width:300px ;
		z-index: 100;
	
	}
	#create-profile{
		position:absolute ;
		top:300px ;
		left: 1vw
	}
	#logo {
		margin:0 auto;
		width:500px;
		font-size:7vw;
		font-family:'Lily Script One', cursive;
	}
	.card img{
		width: 50px;
		height: 50px;
	}
	.cont{
		font-size:small ;
	}
	h1 {
		font-size: medium;
	}
  }


/* #form {
    display: flex;
    flex-direction: column;
    width: 50% ;
    margin-left:30px ;
    align-self: center;
}
#inf{
    position: relative;
    margin-bottom:10px ;
}
#inf input{
    position: absolute;
    right:0px ;
    width:70% ;
} */