
#title{
    font-size: xx-large;
    font-weight: 700;
    color:rgba(6, 121, 175, 0.849) ;
}
#menu 
{
    font-size:xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    box-shadow: inset;
    position: absolute;
    left: 20%;
    top:20px ;
    margin-left: 10px;
    margin-bottom: 40px;
}   
#menu > li
{
    margin-left: 30px ;
    padding-left:5px;
    padding-right:5px;
    font-size: x-large;
    border-radius: 5px;
    border: none;
    box-shadow: none;
    width: 200px;
    background-color: white;
    list-style: none;
    height: 30px;
    width:max-content ;
    font-weight: 600;
}

#menu li:hover{
    cursor: pointer;
    background-color:rgba(6, 121, 175, 0.849) ;
    color: white;
}

#nav{
    margin-right: 20px;
    margin-bottom: 200px;
}
