/* Slideshow */

.slideshow {
    margin: 0 auto;
    overflow: hidden;
    width: 100vh;
    height: 60vh;
    border-radius: 20%;
  }
  
  .slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
  }
  
  .slide {
    display: inline-block;
    width: 100vh;
    height: 60vh;
    border-radius: 40px;
  }
  
  /* Buttons */
  
  .slideshowDots {
    text-align: center;
  }
  
  .slideshowDot {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
  
    cursor: pointer;
    margin: 15px 7px 0px;
  
    background-color: #c4c4c4;
  }
  
  .slideshowDot.active {
    background-color: #6a0dad;
  }
img{
    height: 100%;
    width: 100%;
}
.slideshow{
  position:absolute ;
  top:200px ;
  left:20% ;
}